h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
    background-color: rgb(53, 65, 103);
    color: #637d94;
}

.header{
    img {
        position: relative;
        left: 20%;
        top: 10%;
        width: 60%;
    }
}
.scale-up-center {
	-webkit-animation: scale-up-center 0.9s linear 0.5s both;
	        animation: scale-up-center 0.9s linear 0.5s both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
} 
@media (min-width: 1000px){
    .header {
        background-image: url(../img/header);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 60%;
        background-color: rgb(0, 0, 0);
        
        img {
            position: relative;
            left: 2%;
            top: 10%;
            width: 25%;
        }

    }
    .flip-scale-up-hor {
        -webkit-animation: flip-scale-up-hor 0.9s steps(2, end) backwards;
                animation: flip-scale-up-hor 0.9s steps(2, end) backwards;
    }
    @-webkit-keyframes flip-scale-up-hor {
        0% {
          -webkit-transform: scale(1) rotateX(0);
                  transform: scale(1) rotateX(0);
        }
        50% {
          -webkit-transform: scale(2.5) rotateX(-90deg);
                  transform: scale(2.5) rotateX(-90deg);
        }
        100% {
          -webkit-transform: scale(1) rotateX(-180deg);
                  transform: scale(1) rotateX(-180deg);
        }
      }
      @keyframes flip-scale-up-hor {
        0% {
          -webkit-transform: scale(1) rotateX(0);
                  transform: scale(1) rotateX(0);
        }
        50% {
          -webkit-transform: scale(2.5) rotateX(-90deg);
                  transform: scale(2.5) rotateX(-90deg);
        }
        100% {
          -webkit-transform: scale(1) rotateX(-180deg);
                  transform: scale(1) rotateX(-180deg);
        }
        }

    }