.principal p {
    color: rgb(155, 147, 161);
    padding: 20px;
    font-size: 26px;
}

body {
    background-color: #1f1a1a;
}

a {
    text-decoration: none;
}


h2 {
    text-transform: uppercase;
    color: $titles-color; 
    font-weight: bold;
    padding: 15px 20px;
}

h3 {
    text-transform: uppercase;
    color: #a52a2a;
    font-weight: bold;
    padding: 20px 5px;
    text-align: center;
}


.card-video{
    position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;

    iframe {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    }
}

.cuatro{
     a {
        img {
            position: relative;
            top: 10%;
            width: 100%;
            }
        }
    }
.card-text{
    color: black;
    font-size: 26px;
}


.card {
    background-color: #8896a0;
}
.griddiscord {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 6px;
}

div {
    .tables {
        text-align: center;
          table {
            margin: 0 auto;
            text-align: left;
            background-color: #071d32;
            color: #b5ccda;
            font-style: italic;
            margin-bottom: 50px;
        }
    }
}


.video {
    position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
    
    iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    padding: 25px;
    }
}